article {
  overflow: hidden; /* CLEARFIX MAGIC */
}

section {
  float: left;
  width: calc((100% - 3em) / 4); /* CALC MAGIC */
  min-height: 15em; /* FAKE HEIGHT MAGIC */
  box-sizing: border-box; /* BOX SIZING MAGIC */
}

section:not(:nth-of-type(4n+1)) { /* SELECTOR MAGIC */
  margin-left: 1em;
}
